@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Bold.woff2);
  font-weight: 700;
}
/* FONTS END */

body {
  font-family: "Ubuntu", Verdana, sans-serif;
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
}

/* HEADER start */

.header,
.header-wrapper,
.header__icons-wrapper,
.header__icons,
.header__text,
.form-wrapper,
.form-title-wrapper,
.buttons-wrapper,
.button-facebook-text,
.button-gmail-text,
.decoration-line,
.button-facebook,
.button-gmail {
  display: flex;
}

.header {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 112px;
  /* height: 58px; */
}

.header:hover {
  box-shadow: none;
}

.header-wrapper,
.header__icons-wrapper,
.header__icons,
.header__text,
.form-wrapper,
.form-title-wrapper,
.button-facebook,
.button-gmail,
.button-facebook-text,
.button-gmail-text {
  align-items: center;
}

.header-wrapper,
.header__icons-wrapper,
.header__icons,
.form-title-wrapper,
.buttons-wrapper,
.button-facebook,
.button-gmail {
  justify-content: space-between;
}

.header-wrapper {
  padding: 17px 0px;
  width: 100vw;
}

.site-title {
  margin-left: 79px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-title__link {
  transition: font-size 1s;
}

.site-title__link:hover {
  font-size: 28px;
}

.site-title:hover,
.header__link:hover,
.form-title-link,
.checkbox__link {
  color: #3cb878;
}

.site-title:hover,
.header__link:hover,
.header__icon-one:hover,
.header__icon-two:hover,
.header__icon-three:hover {
  opacity: 0.41;
}

.header__icons-wrapper {
  margin-right: 79px;
}

.header__icons {
  width: 126px;
  margin-right: 20px;
}

.header__icon-one,
.header__icon-three,
.header__icon-three:hover {
  height: 24px;
}

.header__icon-one,
.header__icon-two,
.header__icon-three {
  transition: transform 1s;
}

.header__icon-one {
  width: 21px;
  background-image: url(../images/icon-calendar.svg);
}

.header__icon-one:hover,
.header__icon-two:hover,
.header__icon-three:hover {
  transform: rotate(360deg);
}

.header__icon-one:hover {
  background-image: url(../images/icon-calendar-hover.svg);
}

.header__icon-two,
.header__icon-three,
.header__icon-three:hover {
  width: 23px;
}

.header__icon-two {
  height: 23px;
  background-image: url(../images/icon-letter.svg);
}

.header__icon-two:hover {
  background-image: url(../images/icon-letter-hover.svg);
}

.header__icon-three {
  background-image: url(../images/icon-compas.svg);
}

.header__icon-three:hover {
  background-image: url(../images/icon-compas-hover.svg);
}

.header__text {
  justify-content: end;
}

.header__text::before,
.button-facebook-text::before,
.button-gmail-text::before,
.decoration-line::before,
.decoration-line::after,
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before,
.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  content: "";
}

.header__text::before,
.button-facebook-text::before,
.button-gmail-text::before {
  width: 1px;
}

.header__text::before {
  height: 19px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-right: 27px;
  opacity: 0.5;
}

/* HEADER finish */

/* MAIN / FORM start */

.form-wrapper,
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
}

.form-wrapper {
  justify-content: center;
  height: 100vh;
}

.container {
  width: 444px;
}

.decoration-square,
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before,
.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  position: absolute;
}

.decoration-square {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  margin-top: 29px;
}

.form,
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  background-color: #ffffff;
}

.form {
  padding: 28px 60px 38px;
  border: none;
  margin-bottom: 74px;
}

.form-title-link:hover,
.checkbox__link:hover {
  color: #01813f;
}

.form-title-link:hover,
.checkbox__link:hover {
  text-decoration: underline;
}

.form-title,
.input,
.checkbox__text {
  color: #434343;
}

.form-title,
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  line-height: 20px;
}

.form-title {
  font-size: 20px;
}

.buttons-wrapper {
  margin-top: 15px;
}

.button-facebook,
.button-gmail {
  padding: 12px 0px 12px;
  width: 157px;
  height: 48px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
}

.button-facebook,
.button-gmail,
.button-submit {
  transition: background-color 0.5s;
}

.button-facebook {
  background-color: #305db8;
  padding-left: 11px;
  padding-right: 22px;
}

.button-facebook-text::before,
.button-gmail-text::before {
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
  margin-right: 18px;
}

.button-facebook:hover {
  background-color: #022263;
}

.button-gmail {
  background-color: #df4a32;
  padding-left: 12px;
  padding-right: 27px;
}

.button-gmail:hover {
  background-color: #ab1f09;
}

.decoration-line {
  color: #848484;
  margin-top: 31px;
  margin-bottom: 11.96px;
}

.decoration-line::before,
.decoration-line::after {
  border-bottom: 1px solid #f2f2f2;
  width: 152px;
  margin-bottom: 5px;
}

.decoration-line::before {
  margin-right: 4px;
}

.decoration-line::after {
  margin-left: 4px;
}

.input,
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  border: 1px solid #f2f2f2;
}

.input {
  padding: 15.04px 0px 15.04px 19px;
  width: 322px;
  height: 44.08px;
}

.input:focus,
.button-submit {
  border-radius: 4px;
}

.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.input {
  margin-bottom: 15px;
}

.input:nth-of-type(5) {
  margin-bottom: 12px;
}

.input::placeholder,
.button-submit {
  text-transform: capitalize;
}

.input::placeholder {
  color: #bebebe;
}

.button-submit {
  display: block;
  margin-top: 20px;
  width: 324px;
  text-align: center;
  background-color: rgba(60, 184, 120, 0.8);
  padding: 16px 0px;
  transition: background-color 0.5s;
}

.button-submit:hover {
  background-color: #01813f;
}

/* checkbox start */

.checkbox:checked,
.checkbox:not(:checked) {
  display: none;
}

.button-facebook-text::before,
.button-gmail-text::before,
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  display: inline-block;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  padding-left: 28px;
  cursor: pointer;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
}

.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  transition: all 0.2s ease;
  left: 3px;
  top: 3px;
  background-image: url(../images/checkbox.svg);
  width: 16px;
  height: 17px;
}

.checkbox:not(:checked) + label:after {
  opacity: 0;
}

.checkbox:checked + label:after {
  opacity: 1;
}

/* checkbox finish */

/* MAIN / FORM finish */
